<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Online Informartion Quality</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
         
        <div class="jumbotron">
            <h1>Online Information integrator</h1>
            <p class="lead"></p>
	    <p><a class="btn btn-lg btn-success" href="article" role="button">Documentation</a></p>
            </p>
        </div>

<p>Our site is currently under construction. Please pardon the mess and missing pages the site is still under extensive construction.  
It can take some time to calculate your score. One of the reasons for this is that we perform several types of assessments:
 <p>

<ul>
  <li>Natural Language Proccessing</li>
  <li>Technical Performance</li>
  <li>Crowd</li>
  <li>Readibility </li>
</ul> 



<form action = "/getscore" method="POST">
	<p> Insert URL:<input name="query" type ="text" size="100" value="https://en.wikipedia.org/wiki/Vaccine" /> </p>	
	<p> <input type ="submit" value="submit" /> </p>
</form>
 
 
<a href="http://www.mywot.com"><img src="https://cdn-cf.mywot.net/files/friendbadges/friend_small.png" alt="Friend of WOT" /></a>



 
        <footer class="footer">
            <p>&copy; Vrije Universiteit Amsterdam 2017 </p>
            <p>&copy; Universiteit van Amsterdam 2017 </p>
        </footer>
 
    </div>
</body>
 
</html>   		
